.jumbotron{
    text-align: center;
    font-weight: bold;
    background-image: url("images/cuteweather.jpg");
    border-radius: 0;
    border-bottom: 10px solid black;
}

body{
    background-color: lightskyblue;
}
